.nav-sidebar { 
    width: 100%;
    padding: 2px ; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    float: left;
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 2px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
   
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.section5{
    display: block;
    padding: 20px;
    
    height: 100%;
}




.section1{
    margin-top: 30px;
    margin-left: 250px;

}
.section2{
    margin-top: 30px;
    margin-left: 250px;


}
.section3 {
    text-align: center;

}
.footer{
    background-color: blue;
    bottom: fixed;
}

